.home {
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.home h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
  color: #555;
}
