.containerbuscador {
  margin-top: -87px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}
.inputbuscador {
  width: 40%;
  height: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 136px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
}
.inputbuscadorboton {
  margin: 0;
  margin-top: 50px;
  margin-left: 10px;
}
.inputbuscador:focus {
  outline: none;
}

.background-image-clear {
  background-image: url("../../public/img/Clear.png");
}
.background-image-thunderstorm {
  background-image: url("../../public/img/Thunderstorm.png");
}

.background-image-partially_cloudy {
  background-image: url("../../public/img/Partially_cloudy.png");
}

.background-image-overcast {
  background-image: url("../../public/img/Overcast.png");
}
.background-image-rain {
  background-image: url("../../public/img/Rain.png");
}

.background-image-fog {
  background-image: url("../../public/img/Fog.png");
}

.background-image-snow {
  background-image: url("../../public/img/Snow.png");
}

.background-image-ice {
  background-image: url("../../public/img/Ice.png");
}

.iconostiempo {
  margin-top: 120px;
  margin-left: -16px;
}
.wrapper .predictionnextdays {
  margin-top: 27px;
  margin-left: -26px;
}
.dos_horas {
  margin-top: 119px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

.dos_horas h3 {
  text-align: center;
  margin-bottom: 10px;
}

.dos_horas h5,
.dos_horas h4 {
  text-align: center;
}

.weather-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

weather-desc h5,
.weather-desc h4 {
  position: relative;

  margin: 0px;
}

//texto tiempo
// ---------------------      -------------------

.date-container {
  position: absolute;
  top: 95px;
  left: 25px;
}

.date-dayname {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.date-day {
  display: block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.location {
  display: inline-block;
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.location-icon {
  display: inline-block;
  height: 0.8em;
  width: auto;
  margin-right: 5px;
}

.weather-container {
  position: absolute;
  bottom: 336px;
  left: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.weather-icon.feather {
  height: 60px;
  width: auto;
}

.weather-temp {
  margin: 0;
  font-weight: 400;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.weather-desc1 {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.weather-desc2 {
  position: relative;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/* --------------------- */

.clear {
  clear: both;
}

.week-container {
  white-space: nowrap; /* Evita el salto de línea */
  padding: 10px 0; /* Ajusta el espaciado interno */
  margin-left: 12px;
}

.week-list {
  display: inline-flex; /* Muestra los elementos en una línea */
  gap: 10px; /* Ajusta el espacio entre los elementos */
  margin-top: -4px;
}

.week-list li {
  flex-shrink: 0; /* Evita que los elementos se reduzcan */
  min-width: 50px; /* Establece un ancho mínimo para cada elemento */
  background-color: #f1f1f1; /* Color de fondo */
  padding: 10px; /* Ajusta el espaciado interno */
  border-radius: 5px; /* Agrega esquinas redondeadas */
}

/*  --------------------- */

.info-side {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}

.today-info {
  padding: 15px;
  margin: 0 25px 25px 25px;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.today-info > div:not(:last-child) {
  margin: 0 0 10px 0;
}

.today-info > div .title {
  float: left;
  font-weight: 700;
}

.today-info > div .value {
  float: right;
}

.week-list {
  list-style-type: none;
  padding: 0;

  border-radius: 10px;
}

.week-list > li {
  float: left;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border-radius: 10px;
}

.week-list > li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #fff;
  color: #222831;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.week-list > li.active {
  background: #00000060;
  color: #ffffff;
  border-radius: 10px;
}

.week-list > li .day-name {
  margin: 10px 0 0 0;
  text-align: center;
}

.week-list > li .day-icon {
  display: block;
  height: 30px;
  width: auto;
  margin: 0 auto;
}

.week-list > li .day-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}

/* --------------------- */
