.containerbuscador {
  margin: 0;
  margin-top: -22px;
  background-image: url(../../public/img/fondo_hourtime.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
