.citysearch {
  text-align: center;
}

.prediction {
  color: red;
}

.predictionnextdays {
  color: rgb(60, 0, 255);
}
.predictiontemp {
  color: rgb(81, 255, 0);
}

.containerbuscador {
  margin-top: -72px;
}

.inputbuscador {
  width: 40%;
  height: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: -70px;
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque */
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Establece un color de fondo con transparencia */
  border-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Establece un color de borde con transparencia */
}

.inputbuscador:focus {
  outline: none;
}
