// colores de la pagina

$color-primary: linear-gradient(to top left, #91bbc1, #568281);
$color-secondary: #085979;
$color-third: #64babe;
$color-dark_grey: #4e586e;
$color-white: #ffffff;
$color-dark: #024f55;
