.containerreloj {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #085979;
}
.containerrelojtitulo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #085979;
  font-size: small;
  margin-bottom: -20px;
}
